@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

html {
  font-size: 70%;
}

@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
