@import "tailwindcss";

html {
  font-size: 70%;
}

@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
